<%= form_for :sales_rep, url: sales_rep_index_path, as: :post do |f| %>
	<div class="row">
		<div class="col-sm-10 col-md-3 col-md-offset-1">
			<div class="form-group">
				<%= f.label 'TSM' %>
				<%= f.select :tsm_id, @tsms.map {|tsm| [tsm.name,tsm.id]}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
		<div class="col-sm-10 col-md-3">
			<%= f.label "Name"%>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="col-sm-10 col-md-1">
			<%= f.submit 'Submit' , class: 'btn btn-lg btn-success', style: "margin-top: 15px;" %>
		</div>
	</div>
<% end %>