<div class="row">
	<div class="centered">
		<%= image_tag 'powered_by.png' %>
		<h1>Catalog Request Form</h1>
	</div>
</div>

<%= form_for @catalog, url: catalog_request_index_path, method: :post do |f| %>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Date*' %>
				<%= f.text_field :date, class: 'form-control', id: 'date' %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label 'Deadline*' %>
			<%= f.text_field :deadline, class: 'form-control', id: 'deadline' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Sales Representative*' %>
				<%= f.select :sales_rep, @sales_reps.map {|rep| rep.name}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label "Territory Sales Manager*"%>
			<%= f.select :tsm, @tsms.map {|tsm| tsm.name}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Company Name*' %>
				<%= f.select :company_name, @customers.map {|customer| customer.company_name}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Company Contact*' %>
				<%= f.text_field :company_contact, class: 'form-control company_contact' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Email*' %>
				<%= f.text_field :email, class: 'form-control email' %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label "Phone Number*"%>
			<%= f.text_field :phone_number, class: 'form-control phone_number' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Shipping Address*' %>
				<%= f.text_field :ship_address, class: 'form-control ship_address' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-2 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'City*' %>
				<%= f.text_field :city, class: 'form-control city' %>
			</div>
		</div>
		<div class="col-sm-6 col-md-2">
			<%= f.label "State/Region*"%>
			<%= f.text_field :state, class: 'form-control state' %>
		</div>
		<div class="col-sm-6 col-md-2">
			<%= f.label "Zip Code*"%>
			<%= f.text_field :zipcode, class: 'form-control zipcode' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'To Be Produced By*' %>
				<%= f.select :produced_by, @produced_by.map {|name| name}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label "Total Pages Needed*"%>
			<%= f.text_field :page_count, class: 'form-control' %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Endura Intro*' %>
				<%= f.select :endura_intro, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Z-Articulating Cap Sill*' %>
				<%= f.select :z_cap_sill, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Trillennium Multi-Point Locking System*' %>
				<%= f.select :trillenium_multi_point, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Multi Point Astragal*' %>
				<%= f.select :multi_point_astragal, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Ultimate Astragal*' %>
				<%= f.select :ultimate_astragal, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Flip Lever Astragal*' %>
				<%= f.select :flip_lever_astragal, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Frame Saver*' %>
				<%= f.select :framesaver, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Weathersealing*' %>
				<%= f.select :weathersealing, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Other' %>
				<%= f.label 'If selected, please include the requested product in the description box below', class: 'text-muted' %>
				<%= f.select :other, @page_sizes.map {|size| size}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Description*' %>
				<%= f.label 'Please describe the specific catalogue details - How will this be used?', class: 'text-muted' %>
				<%= f.text_area :other_desc, class: 'form-control' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-3">
			<div class="form-group">
				<%= f.label 'Attach a file' %>
				<%= f.file_field :file_1 %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label "Attache a second file"%>
			<%= f.file_field :file_2 %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3">
			<div class="form-group">
				<%= f.submit 'Add To Cart', class: 'btn btn-block btn-danger' %>
			</div>
		</div>
	</div>
<% end %>