<% unless @rep_group.nil? %>
	<div class="row">
	  <div class="col-md-5 col-md-offset-3">
	    <%= select :types, "rep_group", @rep_group.sort.map {|group| [group, group]}, {prompt: '- Please Select Rep Group -'}, {class: 'form-control ', id: "rep_group"} %>
	  </div>
	</div>
<% end %>

<table class="table table-striped"  id="<%= @type %>_table">
	<thead>
		<% @table_headers.each do |header| %>
			<th><%= header %></th>
		<% end %>
		<th><span class="glyphicon glyphicon-remove pull-right" id="close_view" aria-hidden="true"></span></th>
	</thead>
	<tbody>
		<% @data_variable.each do |data| %>
			<tr class="<%= data.rep_group %>">
				<% @column_names.each do |column_name| %>
					<% if column_name == "tsm_id" %>
						<td><%= Tsm.get_name(data[column_name]) %></td>
					<% elsif column_name == "sales_rep_id" %>
						<td class="hidden"><%= SalesRep.get_name(data[column_name]) %></td>
					<% elsif column_name == "customer_id" %>
						<td><%= FundsBank.get_customer(data[column_name]) %></td>
					<% else %>
						<td><%= data[column_name] %></td>
					<% end %>
				<% end %>
				<td><%= link_to "Edit", "#", class: "edit_#{@type}" %> | <%= link_to "Delete", eval("#{@type}_path(data.id)"), method: :delete, data: {confirm: "Are you sure?"} %></td>
				<td/>
			</tr>
		<% end %>
	</tbody>
</table>


<script type="text/javascript">
	$( function() {
    editForm();
  });

	$('#close_view').on('click', function(){
		$('#account_management_view').empty();
	});

	function editForm(){
		$('.edit_product, .edit_image, .edit_tsm, .edit_user, .edit_sales_rep, .edit_customer, .edit_funds_bank').on('click', function(e){
	    e.preventDefault();
	    edit_link = $(this).attr('class');
	    row = $(this).parents('tr');
	    path = $(this).siblings().attr('href');

	    if (row.children().length == 3){
	    	field_1 = row.children('td:eq(0)').text();
	    	row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else if (row.children().length == 4){
	    	field_1 = row.children('td:eq(0)').text();
		    field_2 = row.children('td:eq(1)').text();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		 		if ($(this).attr('class') == 'edit_user'){
		    	row.children('td:eq(1)').append("<input type='password' class=form-control value='" + field_2 + "'></input>");
		 		} else {
		    	row.children('td:eq(1)').append("<input type='text' class=form-control value='" + field_2 + "'></input>");
		 		}
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else if (row.children().length == 5) {
	    	field_1 = row.children('td:eq(0)').text();
		    field_2 = row.children('td:eq(1)').text();
		    field_3 = row.children('td:eq(2)').text();  
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<input class=form-control value='" + field_2 + "'></input>");
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<input class=form-control value='" + field_3 + "'></input>");
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else if (row.children().length == 6) {
	    	field_1 = row.children('td:eq(0)').text();
		    field_2 = row.children('td:eq(1)').text();
		    field_3 = row.children('td:eq(2)').text();  
		    field_4 = row.children('td:eq(3)').text();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<input class=form-control value='" + field_2 + "'></input>");
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<input class=form-control value='" + field_3 + "'></input>");
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<input class=form-control value='" + field_4 + "'></input>");
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else if (row.children().length == 7 ) {
	    		field_1 = row.children('td:eq(0)').text();
		    field_2 = row.children('td:eq(1)').text();
		    field_3 = row.children('td:eq(2)').text();  
		    field_4 = row.children('td:eq(3)').text();
		    field_5 = row.children('td:eq(4)').text();

		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<input class=form-control value='" + field_2 + "'></input>");
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<input class=form-control value='" + field_3 + "'></input>");
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<input class=form-control value='" + field_4 + "'></input>");
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append("<input class=form-control value='" + field_5 + "'></input>");
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else if (row.children().length == 12) {
	    	field_1 = row.children('td:eq(0)').text();
		    field_2 = row.children('td:eq(1)').text();
		    field_3 = row.children('td:eq(2)').text();  
		    field_4 = row.children('td:eq(3)').text();  
		    field_5 = row.children('td:eq(4)').text();  
		    field_6 = row.children('td:eq(5)').text();  
		    field_7 = row.children('td:eq(6)').text();  
		    field_8 = row.children('td:eq(7)').text();  
		    field_9 = row.children('td:eq(8)').text();  
		    field_10 = row.children('td:eq(9)').text();  
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append("<input class=form-control  type= 'hidden' value='" + field_1 + "'></input>");
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<input class=form-control value='" + field_2 + "'></input>");
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<input class=form-control value='" + field_3 + "'></input>");
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<input class=form-control value='" + field_4 + "'></input>");
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append("<input class=form-control value='" + field_5 + "'></input>");
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append("<input class=form-control value='" + field_6 + "'></input>");
		    row.children('td:eq(6)').empty();
		    row.children('td:eq(6)').append("<input class=form-control value='" + field_7 + "'></input>");
		    row.children('td:eq(7)').empty();
		    row.children('td:eq(7)').append("<input class=form-control value='" + field_8 + "'></input>");
		    row.children('td:eq(8)').empty();
		    row.children('td:eq(8)').append("<input class=form-control value='" + field_9 + "'></input>");
		    row.children('td:eq(9)').empty();
		    row.children('td:eq(9)').append("<input class=form-control value='" + field_10 + "'></input>");
		    row.children('td:eq(10)').empty();
		    row.children('td:eq(10)').append("<a data-remote='true' class='btn btn-sm btn-warning update_edit' href='#'>Update</a> <a class='cancel_edit' href='#' style='vertical-align:bottom;'>Cancel</a>");
	    } else {
	    	alert("This amount of edit fields isn't setup -" + row.children().length + " .Please set it up, and try again");
	    }
	    
	    updateEdit(path, edit_link);
	    cancelEdit(path, edit_link);
	  });
	}

	function cancelEdit(path, edit_link){
  	$('.cancel_edit').on('click', function(e){
	  	e.preventDefault();
	  	row = $(this).parents('tr');
	  	//table_name = $(this).parents('table').attr('id').match(/[^_]+/)[0];
	  	
	  	if (row.children().length === 3){
	  		field_1 = row.children('td:eq(0)').children().val();
	  		row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
	    } else if (row.children().length == 4){
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().attr('type') === "password" ? "" : row.children('td:eq(1)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>");
	    } else if (row.children().length == 5) {
	  		field_1 = row.children('td:eq(0)').children().val();
	    	field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();
		  	row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
		  } else if (row.children().length == 6) {
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
	    } else if (row.children().length == 7) {
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();
		    field_5 = row.children('td:eq(4)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append(field_5);
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
	    } else if (row.children().length == 12){
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();  
		    field_5 = row.children('td:eq(4)').children().val();  
		    field_6 = row.children('td:eq(5)').children().val();  
		    field_7 = row.children('td:eq(6)').children().val();  
		    field_8 = row.children('td:eq(7)').children().val();  
		    field_9 = row.children('td:eq(8)').children().val();  
		    field_10 = row.children('td:eq(9)').children().val();  
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append(field_5);
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append(field_6);
		    row.children('td:eq(6)').empty();
		    row.children('td:eq(6)').append(field_7);
		    row.children('td:eq(7)').empty();
		    row.children('td:eq(7)').append(field_8);
		    row.children('td:eq(8)').empty();
		    row.children('td:eq(8)').append(field_9);
		    row.children('td:eq(9)').empty();
		    row.children('td:eq(9)').append(field_10);
		    row.children('td:eq(10)').empty();
		    row.children('td:eq(10)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>");
	    }
	    editForm();
  	});
  }

  function updateEdit(path, edit_link){
  	$('.update_edit').on('click', function(e){
  		e.preventDefault();
  		row = $(this).parents('tr');
  		table_name = $(this).parents('table').attr('id').match(/[^_]+/)[0];
  		console.log(table_name)
  		if (row.children().length === 3){
  			field_1 = row.children('td:eq(0)').children().val();
  			row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
  			params = {name: field_1}
  		} else if (row.children().length == 4){
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().attr('type') === "password" ? "" : row.children('td:eq(1)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
		    console.log(table_name);
		    if (table_name === "tsm"){
		    	params = {name: field_1, email: field_2}
		    } else {
			    params = {email: field_1, password: field_2}
		    }
	    } else if (row.children().length == 5) {
  			field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")
		    if (table_name === "funds"){
		    	params = {customer_name: field_1, allocated_amt: field_2, current_bal: field_3}
		    } else if (table_name === "sales"){
		    	params = {tsm: field_1, name: field_2, email: field_3}
		    } else {
		    	params = {name: field_1, price: field_2, group: field_3}		    	
		    }
  		} else if (row.children().length == 6) {
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>")

		    if (table_name == "sales"){
		    	params = {tsm: field_1, name: field_2, email: field_3, rep_group: field_4}
		    } else {

		    }
  		} else if (row.children().length == 7 ) {
  			field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();  
		    field_5 = row.children('td:eq(4)').children().val();  
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append(field_5);
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>");
		    params = {name: field_1, price: field_2, group: field_3, file_name: field_4, sub_group: field_5}
		    
  		} else if (row.children().length == 12){
	    	field_1 = row.children('td:eq(0)').children().val();
		    field_2 = row.children('td:eq(1)').children().val();
		    field_3 = row.children('td:eq(2)').children().val();  
		    field_4 = row.children('td:eq(3)').children().val();  
		    field_5 = row.children('td:eq(4)').children().val();  
		    field_6 = row.children('td:eq(5)').children().val();  
		    field_7 = row.children('td:eq(6)').children().val();  
		    field_8 = row.children('td:eq(7)').children().val();  
		    field_9 = row.children('td:eq(8)').children().val();  
		    field_10 = row.children('td:eq(9)').children().val(); 
		    row.children('td:eq(0)').empty();
		    row.children('td:eq(0)').append(field_1);
		    row.children('td:eq(1)').empty();
		    row.children('td:eq(1)').append(field_2);
		    row.children('td:eq(2)').empty();
		    row.children('td:eq(2)').append(field_3);
		    row.children('td:eq(3)').empty();
		    row.children('td:eq(3)').append(field_4);
		    row.children('td:eq(4)').empty();
		    row.children('td:eq(4)').append(field_5);
		    row.children('td:eq(5)').empty();
		    row.children('td:eq(5)').append(field_6);
		    row.children('td:eq(6)').empty();
		    row.children('td:eq(6)').append(field_7);
		    row.children('td:eq(7)').empty();
		    row.children('td:eq(7)').append(field_8);
		    row.children('td:eq(8)').empty();
		    row.children('td:eq(8)').append(field_9);
		    row.children('td:eq(9)').empty();
		    row.children('td:eq(9)').append(field_10);
		    row.children('td:eq(10)').empty();
		    row.children('td:eq(10)').append("<a class='" + edit_link + "' href='#'>Edit</a> | <a data-remote='true' data-confirm='Are you sure?' data-method='delete' href='" + path + "'>Delete</a>");
		    params = {sales_rep: field_1, company_name: field_2, contact_email: field_3, phone_number: field_4, address: field_5, city: field_6, state: field_7, zipcode: field_8, company_contact: field_9, rep_group: field_10}
	    }
	  	
	    if (path == undefined) {
	    } else {
	    	postForm(path, 'put', params);
	    }
  	});	

  	function postForm(url, method, params){
		$.ajax({
      url: url,
      type: method,
      data: params,
      datatype: 'json',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      success: function (data) {
        editForm();
      }   
    });
	}
  }

  
  
</script>