<div class="row">
	<div class="centered">
		<%#= image_tag 'powered_by.png' %>
		<h1>Endura Marketing Request Form</h1>
	</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <b>Item Type</b>
    <%= select :types, "Product Type", ["Credits", "Literature", "Samples", "Services"].map {|file_format| [file_format, file_format.downcase.gsub(" ", "_")]}, {prompt: '- Please Select -'}, {class: 'form-control ', id: 'item_product_type'} %>
  </div>
</div>

<div class="row" style="margin-top:10px;">
	<% @products.each do |product| %>

  	<div class="col-sm-6 col-md-4">
      <%= hidden_field_tag "#{product.group}", "#{product.group}", class: "#{product.group.downcase.gsub(" ", "_")}" %>
    	<div class="thumbnail product_container" product_id="<%= product.id %>">
      	<%= image_tag product.show_image, size: 70 %>
      	<p class="text-center product_name_container" style="overflow: hidden;white-space: nowrap;"><%= product.name %></p>
      	<p><div class="text-center item_cost"><%= number_to_currency(product.price) %></div></p>
      	<div class="col-md-10 col-md-offset-1 item_qty"><p class="text-center">Qty: <%= text_field_tag :qty, 0, class: "form-control text-center item_qty_input"%></p></div>
      		<div class="text-center"><%= label_tag 'Total Cost: ' %></div>
      		<div class='total_cost text-center'><%= label_tag '$0.00'%></div>
      	<div class="form-group notes col-md-10 col-md-offset-1">
      		<%= label_tag 'Notes:' %>
      		<%= text_area_tag :notes, nil , class: "form-control", placeholder: "Type any notes you have here.." %>
      	</div>
      	<p class="text-center"><%= link_to 'Add to Cart', nil, remote: true, class: 'btn btn-danger add_to_cart' %></p>
      	<div class="update_response text-center text-success"></div>
		  </div>
		</div>
		
	<% end %>
</div>

<div class="modal fade" id="configModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger" style="text-align:center">
        <h3 class="modal-title">Astragal Configuration</h3>
      </div>
      <div class="modal-body">
        <%= form_for 'product_config', url: product_configuration_index_path(format: 'json'), remote: true, as: :post, html: {id: "product_config"}  do |f| %>
          <%= f.hidden_field "product_id", id: "product_config_product_id" %>
          <%= f.hidden_field "item_qty", id: "product_config_item_qty" %>
          <%= f.hidden_field "item_note", id: "product_config_item_note" %>
          <%= f.select "sub_product", [], {include_blank: "Select a Product"}, class: "form-control ", id: "sub_product", title: "Select a Product from the drop down." %>
          <br/>
          <%= f.select "finish", [], {include_blank: "Select a Product Finish"}, class: "form-control ", id: "product_finish", title: "Select a Finish from the drop down. This will populate the list of Product Swatch Finishes below." %>
          <br/>
          <%= f.label :sub_finish, "Select a Product Swatch Finish" %>
          <%= f.select "sub_finish", [], {include_blank: "Select a Product Swatch Finish"}, multiple: true, class: "form-control ", id: "hidden_sub_finish", style: "display:none;" %>
          <div id="sub_finish_select"></div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_config">Save Configuration</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>