<div class="row">
  <div id="account_management_view"></div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage Users</h3>
        <p>Add, Edit, or Delete Users.</p>
        <p><%= link_to "New", new_user_path, remote: true, class: "btn btn-success" %> <%= link_to "Edit",edit_user_path(1), remote: true, class: "btn btn-warning" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage TSM</h3>
        <p>Add, Edit, or Delete Tsm's.</p>
        <p><%= link_to "New", new_tsm_path, remote: true, class: "btn btn-success" %> <%= link_to "Edit",edit_tsm_path(1), remote: true, class: "btn btn-warning" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage Sales Reps</h3>
        <p>Add, Edit, or Delete Sales Reps.</p>
        <p><%= link_to "New", new_sales_rep_path, remote: true, class: "btn btn-success" %> <%= link_to "Edit",edit_sales_rep_path(1), remote: true, class: "btn btn-warning" %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage Customers</h3>
        <p>Add, Edit, or Delete Users.</p>
        <p><%= link_to "New", new_customer_path, remote: true, class: "btn btn-success" %> <%= link_to "Edit",edit_customer_path(1), remote: true, class: "btn btn-warning" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage Funds</h3>
        <p>Add, Edit, or Delete Allocated Funds</p>
        <p><%= link_to "New", new_funds_bank_path, remote: true, class: "btn btn-success" %> <%= link_to "Edit",edit_funds_bank_path(1), remote: true, class: "btn btn-warning" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Previous Orders</h3>
        <p>View Previous Orders.</p>
        <p><%= link_to "View", order_index_path(overview: true), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Mangage Items</h3>
        <p>Add, Edit, or Delete Users.</p>
        <p><%= link_to "Upload", nil, remote: true, class: "btn btn-primary", data: {toggle: "modal", target:"#myModal"} %> <%= link_to "Edit",edit_product_path(1), remote: true, class: "btn btn-warning" %> <%= link_to "New",new_product_path, remote: true, class: "btn btn-success" %></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail centered">
      <div class="caption">
        <h3>Reports</h3>
        <p>Run Reports.</p>
        <p><%= link_to "View",report_index_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload Products</h4>
        <p class="text-muted">You will want to upload an excel file here. This function is for bulk product upload.</p>
      </div>
      <%= form_for 'product/upload', as: :post, url: :product_upload, remote: true do |f| %>
        <div class="modal-body">
          <p>
            <%= f.file_field :upload_file %>
          </p>
        </div>
        <div class="modal-footer">
          <%= button_to "Close", nil, {class:"btn btn-default", data:{dismiss:"modal"}} %>
          <%= f.submit "Upload", {class:"btn btn-primary"} %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->