<div class="row container">
	<div class="centered">
		<div class="col-sm-10 col-md-10">
			<h3>Add New <%= @type.titlecase %></h3>
		</div>
		<div class="col-sm-1 col-md-1">
			<span class="glyphicon glyphicon-remove" id="close_view" aria-hidden="true"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-1 ">	
		<%= form_for @type.to_sym, url: @path, as: :post do |f| %>
		  <div class="row">
		  	<% @column_names.each do |name| %>
			    <div class="col-sm-10 col-md-3">
			    	<div class="form-group">
				      <%= f.label name %><br />
				    	<% if /password/.match(name.downcase) %>
				    		<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				    	<% elsif /tsm/.match(name.downcase) %>
				    		<%= f.select @select_id.to_sym, @select_box_data.map {|data| [data.name,data.id]}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
				    	<% elsif /group/.match(name.downcase) %>
				    	  <%= f.select @select_id.to_sym, @select_box_data.map {|data| [data,data]}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
				    	<% elsif /sales_rep_id/.match(name.downcase) %>
				    		<%= f.select @select_id.to_sym, @select_box_data.map {|data| [data.name,data.id]}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
				    	<% elsif /customer_id/.match(name.downcase) %>
				    		<%= f.select @select_id.to_sym, @select_box_data.map {|data| [data.company_name,data.id]}, {prompt: '- Please Select -'}, {class: 'form-control page_sizes'} %>
				    	<% else %>
					      <%= f.text_field name, autofocus: true, class: "form-control" %>
					    <% end %>
				    </div>
			    </div>
		    <% end %>
		    <div class="col-sm-10 col-md-1">
		      <%= f.submit "Create #{@type.titlecase}" , class: 'btn btn-success', style: "margin-top: 23px;margin-bottom:20px;" %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>

<script type="text/javascript">

	$('#close_view').on('click', function(){
		$('#account_management_view').empty();
	});
</script>