<div class="row">
	<%= link_to "<< Back", order_index_path %>
</div>
<div class="row">
	<div class="text-center"><h3>Order #<%= @order.id %> Summary</h3></div>
</div>
<%= form_for :order, url: order_path(@order.id, job: "checkout"), method: :put do |f| %>
	<% if @order.current_order == true && @order.order_complete == false %>
		<div class="row">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-3">
					<div class="form-group">
						<%= f.label :deadline %>
						<%= f.text_field :deadline, class: 'form-control', id: 'deadline' %>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-md-offset-3">
					<%= f.label 'Deadline Reason' %>
					<%= f.text_area :deadline_reason, class: 'form-control', id: 'deadline_reason' %>
				</div>
				<div class="col-sm-12 col-md-6 col-md-offset-3">
					<%= f.label 'Reason for Placing Order' %>
					<%= f.text_area :order_reason, class: 'form-control' %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-md-offset-3">
					<p>Requester</p>
					<p><%= current_user.name %></p>
				</div>
				<div class="col-sm-6 col-md-3 col-md-offset-1">
					<p>Email</p>
					<p><%= current_user.email %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-md-offset-3">
					<%= f.label 'Payment Method' %>
					<%= f.select :payment_method, @payment_methods.map {|payment| payment}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-md-offset-3">
					<%= f.label 'Company Name' %>
					<%= f.select :company_id, @customers.map {|customer| [customer.company_name, customer.id]}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-md-offset-3">
					<%= f.label 'Order Recipient' %>
					<%= text_field_tag :order_recipient, nil, class: 'form-control company_contact' %>
				</div>
				<div class="col-sm-6 col-md-3">
					<%= f.label :email %>
					<%= text_field_tag :email, nil, class: 'form-control email' %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-md-offset-3">
					<%= f.label 'Phone Number' %>
					<%= text_field_tag :phone_number, nil, class: 'form-control phone_number' %>
				</div>
				<div class="col-sm-6 col-md-3">
					<%= f.label 'Shipping address' %>
					<%= text_field_tag :address, nil, class: 'form-control ship_address' %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-md-offset-3">
					<%= f.label :city %>
					<%= text_field_tag :city, nil, class: 'form-control city' %>
				</div>
				<div class="col-sm-6 col-md-1">
					<%= f.label :state %>
					<%= text_field_tag :state, nil, class: 'form-control state' %>
				</div>
				<div class="col-sm-6 col-md-2">
					<%= f.label :zipcode %>
					<%= text_field_tag :zipcode, nil, class: 'form-control zipcode' %>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row" style="margin-top:15px;">
		<table class="table table-stripped">
			<thead>
			</thead>
				<tr>
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Notes</th>
					<th/>
				</tr>
			<tbody>
				<% @items.each do |item| %>
					<tr>
						<td><%= item.product_name_by_product_type %></td>
						<td><%= item.quantity %></td>
						<td><%= number_to_currency(item.item_total) %></td>
						<td>
							<% if item.note.nil? || item.note.empty? %>
								<% if item.product_name_by_product_type == "Image Request" %>
									<%= link_to image_request_path(item.reference_id)  do %>
										<span class="glyphicon glyphicon-eye-open text-primary right" title='Click for details'></span> 
									<% end %>
								<% elsif item.product_name_by_product_type == "Catalog Request" %>
									<%= link_to catalog_request_path(item.reference_id)  do %>
										<span class="glyphicon glyphicon-eye-open text-primary right" title='Click for details'></span> 
									<% end %>
								<% elsif item.product_name_by_product_type == "Tradeshow Support Request" %>
									<%= link_to tradeshow_support_request_path(item.reference_id)  do %>
										<span class="glyphicon glyphicon-eye-open text-primary right" title='Click for details'></span> 
									<% end %>
								<% end %>
							<% else %>
								<span class="glyphicon glyphicon-info-sign text-primary right" title='<%= item.note %>'></span> 
							<% end %>
						</td>
						<td><%= link_to "Delete", order_item_path(item.id), method: :delete, data: {confirm: "Are you sure you want to remove this item from your cart?"} if @order.current_order == true && @order.order_complete == false %></td>
					</tr>
				<% end %>
				<tr class="success">
					<td>Total</td>
					<td><%= @total_qty %></td>
					<td><%= number_to_currency(@total_sum) %></td>
					<td/>
					<td/>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<% if @order.order_complete == false %>
			<%= f.submit "Check Out",  class: "btn btn-block btn-primary" %>
		<% end %>
	</div>

	<div class="row">
	<% if @order.accepted.nil?  && @order.order_complete %>
		<div class="pull-right"><%= link_to "Approve", order_path(@order.id, accepted: true, job: "approve"), method: :put, class: 'btn btn-success' %> <%= link_to "Decline", order_path(@order.id, accepted: false, job: "approve"), method: :put, class: 'btn btn-danger' %></div>
	<% end %>
	</div>
<% end %>