<h2 class="text-center">Step #1 - <i>Create Associated Products</i></h2>

<div class="jumbotron">
	<%= form_for :sub_product, url: sub_product_index_path(id: @product.id) do |f| %>
		<div class="container">
			<div class="form-group">
				<%= f.label :name, 'Product Name' %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<%= f.submit "Create Sub Product", class: "btn btn-warning pull-right" %>
		</div>
	<% end %>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Product</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @sub_products.each do |sub_product| %>
			<tr>
				<td><%= sub_product.id %></td>
				<td><%= sub_product.name %></td>
				<td><%= link_to "Edit", edit_sub_product_path(sub_product.id) %> | <%= link_to "Delete", sub_product_path(id: sub_product.id, product_id: @product.id), method: :delete, data: { confirm: "Are you sure you want to delete #{sub_product.name}?" } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
