
<% if @results.empty? %>
	<div class="jumbotron">
		<div class="container text-center">
		  <h2>No Data Found!</h2>
		  <p class="lead">It looks like there are no <%= @title %> between <%= @start_date %> - <%= @end_date %></p>
		</div>
	</div>
<% else %>
	<% if @title.downcase.match(/funds/).nil? %>
		<% if @title.downcase.match(/tradeshow/).nil? && @title.downcase.match(/catalog/).nil? %>
			<table class="table table-bordered">
				<thead>
					<tr style="background-color:darkgrey;"><th class="text-center" colspan="<%= @column_count %>"><%= @title %> - <%= link_to "Export Data", report_index_path(start_date: @start_date, end_date: @end_date, report_type: @report_type), method: :post %></th></tr>
				</thead>
					<tbody>
						<tr class="danger">
							<th>

								<% @results.first.attributes.each do |key, value| %>
									<%# unless key == "id" || key == "current_order" %>
									<% if key == "id" && @title.downcase.match(/order/) != nil %>
										<td><%= @formatter.table_header_data(key) %></td>
									<% elsif key =="id" && @title.downcase.match(/image/) != nil %>
									<% else %>
										<td><%= @formatter.table_header_data(key) %></td>
									<% end %>
								<% end %>
							</th>
						</tr>
						<% @results.each do |result| %>
							<tr>
								<td/>
								<% result.attributes.each do |key, value| %>
									<%# unless key == "id"  || key == "current_order" %>
									<% if key == "id" && @title.downcase.match(/order/) != nil %>
										<td class="text-center"><%= link_to "#{raw @formatter.report_data(key, value)}", "#{eval Report.create_get_link_from_text("#{@title}", value)}", target: :_blank %></td>
									<% elsif key =="id" && @title.downcase.match(/customer/) != nil %>
										<td class="text-center"><%= link_to "#{raw @formatter.report_data(key, value)}", "#{eval Report.create_get_link_from_text("#{@title}", value)}", target: :_blank %></td>
									<% elsif key =="id" && @title.downcase.match(/image/) != nil %>
									<% elsif key =="order_id" && @title.downcase.match(/image/) != nil %>
									<td class="text-center"><%= link_to "#{raw @formatter.report_data(key, value)}", "#{eval Report.create_get_link_from_text("#{@title}", value)}", target: :_blank %></td>
									<% else %>
										<td class="text-center"><%= raw @formatter.report_data(key, value) %></td>
									<% end %>
								<% end unless result.nil?%>
							</tr>
						<% end %>
					</tbody>
			</table>
		<% else %>
			<table class="table table-bordered">
				<thead>
					<tr style="background-color:darkgrey;"><th class="text-center" colspan="<%= @column_count %>"><%= @title %> - <%= link_to "Export Data", report_index_path(start_date: @start_date, end_date: @end_date, report_type: @report_type), method: :post %></th></tr>
				</thead>
					<tbody>
						<tr class="danger">
							<th>
								<%  @results.first.attributes.to_a[0..12].to_h.each do |key, value| %>
									<% unless key == "current_order" %>
										<td><%= @formatter.table_header_data(key) %></td>
									<% end %>
								<% end %>
							</th>
						</tr>
						<% @results.each do |result| %>
							<tr>
								<td/>
								<% result.attributes.to_a[0..12].to_h.each do |key, value| %>
									<% if key == "id" %>
										<td class="text-center"><%= link_to "#{raw @formatter.report_data(key, value)}", "#{eval Report.create_get_link_from_text("#{@title}", value)}", target: :_blank %></td>
									<% else %>
										<td class="text-center"><%= raw @formatter.report_data(key, value) %></td>
									<% end %>
								<% end unless result.nil?%>
							</tr>
						<% end %>
					</tbody>
			</table>
		<% end %>
	<% else %>
		
		<table class="table table-bordered">
			<thead>
				<tr style="background-color:darkgrey;"><th class="text-center" colspan="<%= @column_count %>"><%= @title %> <%#= link_to "Export Data", report_index_path(start_date: @start_date, end_date: @end_date, report_type: @report_type), method: :post %></th></tr>
			</thead>
		</table>
		
		
		<% @customers.each_with_index do |customer, index| %>
			<div class="row">
				<div class="col-md-9">
					<table class="table table-bordered">
						<tbody>
							<tr class="active">
								<th>
									<td>Company Name</td>
									<td>Allocated Amount</td>
									<td>Current Balance</td>
								</th>
							</tr>
							
								<tr class="danger order_header">
									<% unless customer.nil? %>
										<td class="text-center"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></td>
										<td><%= customer.company_name %></td>
										<td><%= number_to_currency(customer.funds_bank.allocated_amt) unless customer.funds_bank.nil? %></td>
										<td class="text-right"><%= number_to_currency(customer.funds_bank.current_bal) unless customer.funds_bank.nil? %></td>
									<% end %>
								</tr>
								<tr class="info order_item_details">
									<td>Order #</td>
									<td colspan=2>Order Item Total</td>
									<td colspan=2>Order Item Amt.</td>
								</tr>

								<% @orders.where(customer_id: customer.id).each do |order| %>
									<tr>
										<td class="text-center"><%= link_to "#{order.id}", order_path(order.id), target: :_blank %></td>
										<td colspan=2><%= order.order_items.count %></td>
										<td colspan=2 class="text-right"><%= number_to_currency(order.order_items.inject(0) {|sum, item| sum += item.item_total}) %></td>
									</tr> 
								<% end %>
						</tbody>
					</table>
				</div>
				<div class="col-md-3">
					<div id="testDive_<%= index %>">
					</div>
				</div>
			</div>
		<% end %>
		
		
		</div>
	<% end %>
<% end %>

<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawVisualization);

  function drawVisualization(){
  	var chart_data = <%= raw @customer_chart_data %>

    var options = {
      pieHole: 0.4,
      legend: 'none'
    };

    $.each(chart_data, function(index, value){
    	var data = google.visualization.arrayToDataTable(value);
    	console.log(data);
    	var chart = new google.visualization.PieChart(document.getElementById('testDive_' + index));
    	chart.draw(data, options)
    });

  };
</script>
