<div class="page-header col-sm-6 col-md-6 col-md-offset-2 text-center">
  <h1><%= @customer.company_name %> <small>Update Customer Here</small></h1>
</div>
<%= form_for @customer, url: customer_path(@customer.id), method: :put  do |f| %>

	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2">
			<div class="form-group">
				<%= f.label 'Company Name' %>
				<%= f.text_field :company_name, class: 'form-control' %>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<%= f.label 'Company Contact' %>
			<%= f.text_field :company_contact, class: 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2">
			<%= f.label 'Contact Email' %>
			<%= f.text_field :contact_email, class: 'form-control' %>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group">
				<%= f.label 'Phone Number' %>
				<%= f.text_field :phone_number, class: 'form-control' %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2">
			<%= f.label 'Address' %>
			<%= f.text_field :address, class: 'form-control' %>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group">
				<%= f.label 'City' %>
				<%= f.text_field :city, class: 'form-control' %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offset-2">
			<%= f.label 'State' %>
			<%= f.text_field :state, class: 'form-control' %>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group">
				<%= f.label 'Zipcode' %>
				<%= f.text_field :zipcode, class: 'form-control' %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-2">
			<div class="form-group">
				<%= f.submit 'Update Customer', class: 'btn btn-block btn-danger' %>
			</div>
		</div>
	</div>
<% end %>