<!DOCTYPE html>
<html>
  <head>
    <title>Endura Ecommerce</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top endura-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="/" class="navbar-brand" >
		   						<span><%= image_tag("endura_logo.png", data: {title: "Endura"}) %></span>
                </a> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to order_index_path do %>
                      <div id="cart_count"><%= @cart_count %></div>
                        <%= image_tag "cart_light.png", height: "50", data: {title: "5"} %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to user_portal_index_path do %>
                        <%= image_tag("user_placeholder.png", height: "50", data: {title: "#{current_user}"}) %>
                      <% end %>
                    </li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="padding-left: 0px;padding-right: 0px;">
        	<ul class="nav nav-sidebar">
            <!-- <li><span><%#= image_tag("endura_logo.png", data: {title: "Endura"}) %></span></li> -->
        		<li><%= link_to "Endura Catalog Request Form", user_portal_index_path(partial: "catalog_request")%></li>
        		<li><%= link_to "Endura Marketing Request Form", user_portal_index_path(partial: "general_request")%></li>
             <li><%= link_to "Tradeshow Support Request Form", user_portal_index_path(partial: "tradeshow_support_request") %></li>
        		<li><%= link_to "Endura Image Request Form", user_portal_index_path(partial: "image_request")%></li>
        		<li><%= link_to "Products And Offering list",user_portal_index_path(partial: "offering_list")%></li>
        	</ul> 
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div style="margin-top: 60px;">
  	        <div class="row">
  	            <% if flash[:notice] %>
  	              <div class="alert alert-success alert-dismissable">
  	                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	                <strong>Success!</strong> <%= flash[:notice] %>
  	              </div>
  	            <% elsif flash[:error] %>
  		            <div class="alert alert-danger alert-dismissable">
  	                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	                <strong>Error!</strong> 
  	                <ul>
                      <% if flash[:error].class == String %>
                        <li><%= flash[:error] %></li>
                      <% else %>
    	                  <% flash[:error].each do |error| %>
    	                      <li><%= error %></li>
    	                  <% end %>
  	                  <% end %>
                    </ul>
  	              </div>
  	            <% end %>
  	        </div>
  		      <%= yield %>
  		    </div>
		    </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>
